@use 'fonts';
@use 'reset';
@use 'config';

h1 {
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.1em;
    text-align: center;
}

h2 {
    margin-top: 2em;

    font-weight: 400;
    font-size: 1.25em;

    text-align: center;
}

a {
    color: currentColor;
    text-decoration: none;

    &:not(nav a, .tag) {

        font-variant: small-caps;
        text-transform: lowercase;
        letter-spacing: 0.1em;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
    }
}

::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}